* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: gray;
    width: 100%;
}

main {
    background-color: limegreen;
    height: 2080px;
    width: 100%;
}

.main_superior {
    background-color: blue;
    height: 825px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    margin: 0;
}

.titulo_conteudo {
    font-size: 100px;
}

.main_inferior {
    margin: 10px;
    background-color: blueviolet;
    height: 1200px;
    padding: 10px;
    background-image: url(../img/codigo_background.png);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Noticias */
.noticias {
    background-color: #222;
    /* cor de fundo do bloco */
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.noticias h2 {
    margin-bottom: 15px;
}

.noticias div a {
    display: block;
    color: #ffcc00;
    text-decoration: none;
    margin-bottom: 10px;
}

.noticias div a:hover {
    text-decoration: underline;
}

.grafico_topico {
    background-color: aqua;
    height: 250px;
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.grafico_caixa {
    background-color: azure;
    height: 225px;
    width: 90%;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.grafico_caixa p {
    font-size: 30px;
    margin: 20px;
}

.grafico_caixa img {
    max-width: 100px;
}

.progresso {
    background-color: brown;
    height: 250px;
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.progresso_caixa {
    background-color: azure;
    height: 225px;
    width: 90%;
    color: #222;
}

.texto_main_inferior {
    background-color: cadetblue;
    margin-top: 80px;
    height: 100px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    font-size: 50px;
    color: #222;
}

.texto_final {
    background-color: crimson;
    height: 2000px;
    width: 1200px;
    padding: 10px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.final_conteudo{
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.final_conteudo p{
    margin: 10px;
    font-size: 20px;
    text-align: justify;
    width: 990px;
}

.final_conteudo h1{
    font-size: 40px;
}

.menu {
    background-image: linear-gradient(to right, rgb(0, 0, 97), rgb(7, 0, 26));
    height: 2080px;
    width: 350px;
}

.titulo_menu {
    background-color: rebeccapurple;
    height: 100px;
}

.titulo_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo_icon h2,
.titulo_icon img {
    margin-top: 20px;
    max-height: 50px;
}

.subtitulo {
    margin-left: 100px;
    margin-top: 0;
}

.lista_topicos {
    background-image: linear-gradient(to right, darkviolet, rgb(115, 0, 165));
    border-radius: 10px;
    margin: 8px;
    height: 50px;
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.lista_topicos:hover,
.lista_topicos:hover a {
    background-color: rgb(166, 84, 243);
    border-radius: 10px;
    transition: 0.4s;
}

.menu_lista a {
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: limegreen;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 60px;
}