*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: gray;
    width: 100%;
}
main{
    background-color: limegreen;
    height: 2080px;
    width: 100%;
}
.main_superior{
    background-color: blue;
    height: 480px;
    justify-content: center;
    align-items: center;
    display:flex
}
.titulo_conteudo{
    font-size: 100px;
}
.main_inferior{
    background-color: blueviolet;
    height: 1200px;
    padding: 100px;
}
.grafico_topico{
    background-color: aqua;
    height: 250px;
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 20px;
}
.grafico_caixa{
    background-color: azure;
    height: 225px;
    width: 90%;
}
.progresso{
    background-color: brown;
    height: 250px;
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 20px;
}
.texto_main_inferior{
    background-color: cadetblue;
    height: 250px;
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 20px;
}
.atalhos_caixa{
    background-color: crimson;
    height: 250px;
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 20px;
}
.menu{
    background-color: darkblue;
    height: 2080px;
    width: 350px;
}
.titulo_menu{
    background-color: rebeccapurple;
    height: 100px;
}
.titulo_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.titulo_icon h2, img{
    margin-top: 20px;
    max-height: 50px;

}
.subtitulo{
    margin-left: 100px;
    margin-top: 0;
}
.menu_inferior li{
    background-image: linear-gradient(to right, darkviolet, blueviolet);
    border-radius: 10px;
    margin: 8px;
    height: 50px;
    display: flex;
    list-style: none;
    align-items: center;
}
.menu_inferior a{
    font-size: 20px;
    margin-left: 60px;
    text-decoration: none;
    cursor: pointer;
    color: limegreen;
}




